.link-button {
  background-color: white;
  color: rgb(65, 64, 67);
  border: none;
  border-radius: clamp(6px, 1vw, 12px);
  padding: clamp(8px, 1.5vw, 16px) clamp(16px, 3vw, 32px);
  font-size: clamp(0.875rem, 1.5vw, 1.25rem);
  font-weight: 550;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 clamp(8px, 1.5vw, 16px) rgb(255, 224, 101);
  transition: box-shadow 0.3s ease;
}

.link-button:hover {
  box-shadow: 0 0 clamp(16px, 3vw, 32px) rgba(59, 130, 246, 0.8);
  transform: scale(1.015,1.015);
}

