.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 1rem auto;
  max-width: 100%;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 10;
  position: inherit;
  border: 1px solid color-mix(in oklab, white 12%, transparent);
}

.navbar-logo {
  position: absolute;
  left: clamp(1rem, 3vw, 2rem);
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.navbar-logo img {
  height: clamp(30px, 4vw, 50px);
  width: auto;
}

.navbar-links {
  display: flex;
  gap: clamp(0.75rem, 2vw, 2.5rem);
  align-items: center;
  justify-content: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: clamp(0.75rem, 1.5vw, 1.125rem);
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.navbar-link:hover {
  opacity: 0.7;


}

