:root{
    --content-width: 1100px;
}

.Banners-container{
    display: block;
    max-width: var(--content-width);
    width: calc(100% - 32px);
    margin: 24px auto 0;
    padding: 24px 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.Banners-conent{

    display: flex;
    justify-content: center;

}