:root {
    --max-page-width: 1920px;
    --max-page-height: 1080px;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.character-image {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.character-image img {
    width: auto;
    height: 2000px;
    z-index: 2;
    transform: translate(-275px,400px);

}
.background-overlay{
    position: absolute;
}
.background-overlay img{
    width: 1920px;
    height: 1080px;
    transform: translate(0px,-244px);
    z-index: 3;
    mix-blend-mode: screen;
}