:root{
    --content-width: 1100px;
}

.thumbnails-page-container{
    max-width: var(--content-width);
    width: calc(100% - 32px);
    margin: 24px auto 0;
    padding: 24px 16px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .thumbnails-page-container {
        width: calc(100% - 32px);
        padding: 16px;
    }
}

.thumbnail-card{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
    margin-bottom: 12px;
}

