.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    max-width: 50%;
    max-height: 100%;
    background-color: #18181a;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: white;
}

.card-container{
    padding: 12px 12px;
}
.thumbnail-image{
    object-fit: contain;
    display: flex;

}
.thumbnail-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.video-title{
    margin-top: 6px;
    margin-bottom: 12px;
    text-decoration: none;
    color: white;
}
.channel-info{
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;

}

.channel-pfp img{
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.channel-name{
    color: white;
    position: relative;
    transform: translate(-110px,10px);
    opacity: 80%;

}

.card:hover{
    text-decoration: none;
    transform: scale(1.025);
}
