.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    max-width: 50%;
    max-height: 100%;
    background-color: #18181a;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: white;
}

.card-container{
    padding: 12px 12px;
}
.thumbnail-image{
    object-fit: contain;
    display: flex;

}
.thumbnail-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.video-title{
    margin-top: 6px;
    margin-bottom: 12px;
    text-decoration: none;
    color: white;
    font-size: clamp(0.55rem,0.8vw + 0.2rem,1.2rem);
}
.channel-info{
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: clamp(6px, 1vw, 12px);
}

.channel-pfp{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.channel-pfp img{
    width: clamp(24px, 3vw, 40px);
    height: clamp(24px, 3vw, 40px);
    border-radius: 50%;
    object-fit: cover;
}

.channel-name{
    color: white;
    opacity: 80%;
    font-size: clamp(0.65rem, 1.25vw, 1.125rem);
    margin: 0;
    display: flex;
    align-items: center;
}

.card:hover{
    text-decoration: none;
    transform: scale(1.025);
}
